/* Center alignment for canvas */
#canvas {
    background-color: black;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Center text */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}